/* 基础底色 */
.base_background{
  /* background-color: rgba(211, 211, 211, 0.5); */
  background-color: #409EFF;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
}
.inputWidth{
  width: 100px !important;
}
.faIcon{
  font-size: 20px;
  color: #409EFF !important;
  margin-right: 10px;
}
.account{
  color: #409EFF;
}
.smallTitle{
  font-size: 18px;
}