/* 基础底色 */
.base_background{
  background-color: #f5f5f5;
}
.inputWidth{
  width: 100px !important;
}
.faIcon{
  font-size: 20px;
  color: #409EFF !important;
  margin-right: 10px;
}
.account{
  color: #409EFF;
}